.p-data{
    height:auto;
    background:#fff;
    .data-type{
        height:measure(100px);
        line-height:measure(100px);
        padding:measure(50px);
        background-color:#444547;
        color:#fff;
        select{
            float:right;
        }
    }
    .content{
        .content-head{
            background:#b8b8b8;
            @include clearfloat;
            span{
                display:block;
                float:left;
                width:33%;
            }
            .head-switch{
                height:measure(175px);
                line-height:measure(175px);
                border-bottom:2px #d2d2d2 solid;
                text-align:center;
                background-color:#d2d2d2;
                &:last-child{
                    float:right;
                }
                &.active{
                    border-bottom-color:#b70e0e;
                }
            }
            .head-price{
                padding-top:measure(30px);
                height:measure(148px);
                border-bottom:2px #d2d2d2 solid;
                background-color:#b8b8b8;
                border-bottom-color:#b8b8b8;
                text-align:center;
                color:#fff;
            }
        }
        table{
            width:100%;
            table-layout:fixed;
            color:#646464;
            margin-top:measure(14px);
            &.first{
                margin-top:0px;
            }
            thead{
                background:#969696;
                color:#fff;
                height:measure(125px);
                line-height:measure(125px);
                th{
                    text-align:center;
                }
            }
            tbody{
                tr{
                    &:nth-child(odd){
                        background-color:#f6f6f6;
                    }
                    &:nth-child(even){
                        background-color:#fff;
                    }
                }
                td{
                    height:measure(90px);
                    line-height:measure(90px);
                    border:1px #dcdcdc solid;
                    &:first-child{
                        padding:0 1rem;
                    }
                    &:last-child{
                        text-align:center;
                    }
                }
            }
        }
        .content-intruduction{
            color:#646464;
            font-size:0.8rem;
            padding:measure(45px);
            .i-ico{
                display:inline-block;
                width:measure(70px);
            }
            section{
                margin-bottom:10px;
            }
        }
    }
}
